@font-face {
    font-family: "Janna-lt";
    src:
        url("/assets/fonts/Janna-lt.ttf") format("truetype"),
        url("/assets/fonts/Janna-lt-Bold.ttf");
    font-weight: bolder;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Janna-lt", sans-serif;
}

body,
html {
    overflow-x: clip;
}

body {
    font-family: "Janna-lt", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #1b395f, #1b395f);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #1b395f, #0f1f33);
}


// start navbar 

.navbar-container{
    .links{
          .router-link-exact-active {
              color: black;
              font-weight: bold;
              position: relative;
              transition: 0.4s;
              &::before {
                content: "";
                width: 25px;
                height: 2px;
                background-color: #1b395f;
                position: absolute;
                top: 100%;
              }
            }
        a{
          position: relative;
          &:hover{
            color: black;
          }
            &::before {
                content: "";
                width: 0%;
                height: 2px;
                background-color: #1b395f;
                position: absolute;
                top: 100%;
                transition: 0.4s;
              }
              &:hover::before {
                width: 30px;
              }
        }
      }
}

// end navbar 

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes fade {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}

.animated-image {
  animation: pulse 1s infinite, fade 1s infinite;
  width:100px;
}

.vue-slider-process {
  background-color: #1b395f !important;
}
.vue-slider-dot-tooltip {
  display: none;
}

.dp__calendar_header {
  gap: 22px;
  background-color: #1b395f;
  color: #fff !important;
  padding: 0px 5px;
  border-radius: 8px;
  .dp__calendar_header_item {
    font-size: 15px;
  }
}
.dp__calendar_header_separator {
  display: none;
}
@media (max-width: 770px) {
  .dp__calendar_header {
    gap: 10px;
  }
  .dp__calendar_header_item {
    font-size: 13px !important;
  }
}

.latestSwiper::part(container){

  padding-bottom: 100px;

}
swiper-container::part(bullet-active) {
  background-color: #1b395f;
  width: 39px;
  height: 12px;
  border-radius: 6px;
 
}

.newsSwiper::part(container){
  padding-bottom: 100px;
  padding-top: 80px;
}
.newsSwiper.car::part(container){
    padding-bottom: 40px;
}
.newsSwiper{
  swiper-slide{
      opacity: 0.4;
      &.swiper-slide-active{
          opacity: 1;
          transform: scale(1.2);
      }
  }
}

@media(max-width:760px){
  swiper-container::part(container){
    padding-bottom: 60px;
  }
  .priceSwiper::part(container){
    padding-bottom: 0px;
  }
  .newsSwiper::part(container){
  padding-bottom: 30px;
  padding-top: 20px;
  
}
  .newsSwiper{
  swiper-slide{
      opacity: 0.4;
      &.swiper-slide-active{
          opacity: 1;
          transform: scale(1);
      }
  }
}
}
@mixin textAnimated($text, $size, $top, $right, $color) {
  content: attr($text);
  font-size: $size;
  font-weight: bolder;
  color: transparent;
  text-transform: uppercase;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  top: $top;
  right: $right;
  -webkit-text-stroke: 1px $color;
}


html[dir="ltr"]{
  .headText{
  position: relative;
    &.about{
      &::before{
        @include textAnimated(data-about, 70px, -30%, 00px, #fff);
      }
    }
    &.why{
      &::before{
        @include textAnimated(data-why, 60px, -30%, 00px, #1b395f);
      }
    }
    &.brands{
      &::before{
        @include textAnimated(data-brands, 60px, -30%, 00px, #1b395f);
      }
    }
    &.latest{
      &::before{
        @include textAnimated(data-latest, 60px, -80%, -20px, #1b395f);
      }
    }
    &.news{
      &::before{
        @include textAnimated(data-news, 60px, -80%, -20px, #1b395f);
      }
    }
    &.offers{
      &::before{
        @include textAnimated(data-offers, 60px, -70%, 0px, #1b395f);
      }
    }
    &.about-us{
      &::before{
        @include textAnimated(data-about-us, 60px, -70%, 0px, #1b395f);
      }
    }
    &.contact{
      &::before{
        @include textAnimated(data-contact, 60px, -70%, 0px, #1b395f);
      }
    }
    &.faq{
      &::before{
        @include textAnimated(data-faq, 60px, -60%, 0px, #1b395f);
      }
    }
    &.purchase{
      &::before{
        @include textAnimated(data-purchase, 60px, -60%, 0px, #1b395f);
      }
    }
  }
}

@media(max-width: 760px){
  html[dir="ltr"]{
    .headText{
      &.about{
        &::before{
          @include textAnimated(data-about, 50px, -30%, 00px, #fff);
        }
      }
      &.why{
        &::before{
          @include textAnimated(data-why, 40px, -80%, 00px, #1b395f);
        }
      }
      &.brands{
        &::before{
          @include textAnimated(data-brands, 40px, -80%, 00px, #1b395f);
        }
      }
      &.latest{
        &::before{
          @include textAnimated(data-latest, 40px, -70%, 0px, #1b395f);
        }
      }
      &.news{
        &::before{
          @include textAnimated(data-news, 35px, -45%, 0px, #1b395f);
        }
      }
      &.offers{
        &::before{
          @include textAnimated(data-offers, 35px, -45%, 0px, #1b395f);
        }
      }
      &.faq{
        &::before{
          @include textAnimated(data-faq, 40px, -30%, 0px, #1b395f);
        }
      }
      &.purchase{
        &::before{
          @include textAnimated(data-purchase, 30px, -30%, 0px, #1b395f);
        }
      }
    }
  }
}